.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 100vh;

}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 20px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Add this CSS code */

.delete-button {
    background-color: #FF0000;
    color: white;
    font-weight: bold;
}

.delete-button:hover {
    background-color: #FF3333;
}

.add-button {
    background-color: #FF0000;
    color: white;
    font-weight: bold;
}

.add-button:hover {
    background-color: #FF3333;
}



ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-icon {
    color: white;
    cursor: pointer;
}


/* Modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Styles */


.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    order: 1;
}

.edit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    order: 2;
    /* Change the order to 2 to move the edit task button to the right */
}

.edit-button:hover {
    background-color: #45a049;
}

.star-icon {
    color: #aaa;
    cursor: pointer;
}

.star-icon.checked {
    color: #FFD700;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#save-button {
    margin-top: 10px;
}

/* Light Theme */
body.light-theme {
    background-color: #f8f8f8;
    color: #333;
}

/* Dark Theme */
body.dark-theme {
    background-color: #333;
    color: #f8f8f8;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.modal-content .small-title {
    font-size: 30px;
}

.modal-content textarea {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}

#edit-description-input {
    margin-top: 20px;
    /* Adds space above the input */
}



input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    width: 80%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    width: 89%;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.star-icon {
    color: #aaa;
    cursor: pointer;
    order: 2;
    margin-right: 10px;
}

.star-icon.checked {
    color: #FFD700;
}

/* Modal styles */


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#save-button {
    margin-top: 10px;
}

.theme-toggle {
    text-align: right;
    margin-bottom: 10px;
}

.theme-toggle #theme-icon {
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
}

.container {
    position: relative;
    max-width: 699px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

body {
    font-family: 'Helvetica', sans-serif;
}

.theme-toggle #theme-icon {
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
}

/* Dark theme */
.dark-theme {
    background-color: #222;
    color: #fff;
}

.task-modal-description {
    max-height: 200px;
    /* Adjust the max-height value as needed */
    overflow-y: auto;
}


.dark-theme #title,
.dark-theme input[type="text"] {
    color: #fff;
}



.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    /* Enable vertical scrolling */
    word-break: break-word;
    /* Break words to fit within the container */
}


.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .modal-content {
        width: 100%;
        margin: 30% auto;
    }
}

.task-modal-description {
    max-height: 100px;
    /* Adjust the max-height value as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.task-modal-description p {
    margin: 0;
}

/* Dark Theme */
body.dark-theme {
    background-color: #333;
    color: #f8f8f8;
}

.dark-theme .modal-content {
    background-color: #444;
    color: #f8f8f8;
    border-color: #666;
}

.dark-theme .close {
    color: #aaa;
}

.dark-theme h3 {
    color: #f8f8f8;
}

.dark-theme p {
    color: #f8f8f8;
}

.dark-theme .task-details .label,
.dark-theme .task-details .value {
    color: #f8f8f8;
}

.dark-theme .task-details .separator {
    border-color: #666;
}

.dark-theme .task-details .notes textarea,
.dark-theme .task-details .notes label {
    color: #f8f8f8;
}


#taskModal .modal-content {
    font-size: 56px;
    /* Set the desired font size */
}

#task-modal-title {
    font-size: 30px;
    /* Set the font size for the title */
}

#task-modal-description {
    font-size: 20px;
    color: grey;
    /* Set the desired color */
}


.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loader-container.show {
    display: flex;
}

.dark-theme .dark-theme-input {
    background-color: #333;
    color: #fff;
}


.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dark-theme-input {
    color: #fff;
    /* Set the text color to white */
    background-color: #333;
    /* Set the background color for dark theme */
    border-color: #555;
    /* Set the border color for dark theme */
}

.dark-theme-input::placeholder {
    color: #999;
    /* Set the placeholder color for dark theme */
}

.todo {
    padding-right: 180px;
}

.card {
    width: 18rem;
    margin-bottom: 1rem;
}

.icon-container {
    display: flex;
    gap: 8px;
    /* Adjust the spacing between icons as desired */
}

.icon-container i {
    cursor: pointer;
}

/*CARD*/

/* Styles for dark theme */
.dark-theme .card {
    background-color: #333;
    color: #fff;
}

/* Styles for light theme */
.light-theme .card {
    background-color: #fff;
    color: #000;
}

/*FOR input DArk theme */
/* Styles for dark theme */
/* Styles for dark theme */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme .form-control {
    background-color: #555;
    color: #fff;
}

.dark-theme .form-control:focus {
    background-color: #555;
    color: #fff;
    box-shadow: none;
}

.dark-theme .form-label {
    color: #fff;
}

/* Styles for light theme */
.light-theme {
    background-color: #fff;
    color: #000;
}

.light-theme .form-control {
    background-color: #f8f9fa;
    color: #000;
}

.light-theme .form-control:focus {
    background-color: #f8f9fa;
    color: #000;
    box-shadow: none;
}

.light-theme .form-label {
    color: #000;
}

/* Add the following CSS styles to your existing styles.css file */

/* Task Sections */
.important-tasks,
.regular-tasks {
    margin-bottom: 20px;
}

.important-tasks h2,
.regular-tasks h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Task Cards */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
}

.icon-container i {
    cursor: pointer;
    margin-right: 5px;
}

.checked {
    color: orange;
}

/* Task Sections */
.important-tasks,
.regular-tasks {
    margin-bottom: 20px;
    text-align: center;
    /* Add this line to center-align the sections */
}

.important-tasks h4,
.regular-tasks h4 {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    /* Add this line to center-align the headings */
}

/* Task Cards */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
    /* Add this line to center-align the cards */
    text-align: left;
    /* Adjust text alignment as needed */
    width: 300px;
    /* Adjust card width as needed */
}